<%= render 'layouts/heduser' %>
<div class="container">
 <div class="row">
  <div class="col-2">
   <div class="genre_serach">
    <h6>ジャンル検索</h6>
    <% @genres.each do |genre| %>
    <%= link_to genre.name, public_items_path(genre_id: genre.id) %><br/>
    <%end%>
    </div>
  </div>
  <div class="offset-1 col-9">
     <h2>商品一覧</h2><p>(全<%= @items.count%>件)</p> 
     <div class="flex">
      <% @items.each do |item| %>
     <div>
   <%=attachment_image_tag item, :item_image, :fill, 200, 200, fallback: "no_image.jpg"  %>
   <%=link_to item.name ,public_item_path(item)%>
   <p>￥<%= (item.price*1.1).floor %></p>
   </div>
   <%end%>
   </div>
  </div>
 </div>
</div>
