<%= render 'layouts/hedadmin' %>
<h2>会員一覧</h2>
 <table class="table">
    <thead>
      <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.last_name %><%= user.first_name %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.is_valid == true %>
            <p>有効</p>
            <%else%>
            <p>退会</p>
            <%end%>
          </td>
        </tr>
      <% end%>
    </tbody>
  </table>